<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
        default-init-method="" default-destroy-method=""> 
        
	<bean id="coke" class="com.xml.drinkMaker.Coke" init-method="" destroy-method="">
		<!--literal injection via constructor-->
		<constructor-arg name="soda" value="YES"/>
		
		<!--literal injection via setter method-->
		<property name="color" value="black"/>
		
		<!--THIS METHOD IS BAD - Object injection via setter method-->
		<property name="sugarObjj">
			<bean id="sugar" class="com.xml.drinkMaker.Sugar"/>
		</property> 
		
		<!--This method is correct - Object injection via setter method-->
		<property name="sugarObj" ref="sugar"/>
		
	</bean>
	<bean id="sugar" class="com.xml.drinkMaker.Sugar"/>
	
	<!-- If we want ANNOTATION -->
	<context:annotation-config/>
	<!-- OR use this -->
	<!-- <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"> -->
	
	
	<!-- AUTOWIRE -->
	<!-- byType, byName, constructor -->
	<!-- <bean id="rasna" class="com.xml.drinkMaker.Rasna" autowire="byType"> it will set by sette method-->
	<bean id="rasna" class="com.xml.drinkMaker.Rasna" autowire="constructor">
		<property name="soda" value="NO"/>
		<property name="color" value="orange"/>
		<property name="sugarObjj" ref="sugar"/>
	</bean>
	
	
	<!-- AUTOWIRE ANNOTATION-->
	<!-- There is no need to autowire attribute, we use @Autowired in JAVA . can be add before setter,dependency declaration-->
	<bean id="rasna2" class="com.xml.drinkMaker.Rasna2">
		<property name="soda" value="NO"/>
		<property name="color" value="orange"/>
	</bean>
	
	<!-- INJECTION THROUGH property-file-->
	<context:property-placeholder location="classpath:rasna-info.properties"/>
	<bean id="rasna3" class="com.xml.drinkMaker.Rasna2">
		<property name="soda" value="${rasna.soda}"/>
		<property name="color" value="${rasna.color}"/>
	</bean>
	
</beans>        